Project Id :- Project 05
Project :- Facebook Data 
Domain :- Social Network
Author :- Manoj Kalamkar

Exploration ideas: 
1) Date Of Birth Analysis
2) Friend count Analysis
3) Tenure Analysis
4) Data Transformations
5) Frequency, Polygons, Boxplots

More Ideas :-
1) Find out how many users are using Facebook through Mobile/Web
2)

In [1]:
#Import the necessary packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as mpl
%matplotlib inline

In [5]:
facebook_data = pd.read_csv('C:/Manoj/Data Science/Foundation Projects/Facebook/pseudo_facebook.tsv',delimiter='\t')
facebook_data.head()

,userid,age,dob_day,dob_year,dob_month,gender,tenure,friend_count,friendships_initiated,likes,likes_received,mobile_likes,mobile_likes_received,www_likes,www_likes_received
0,2094382,14,19,1999,11,male,266.0,0,0,0,0,0,0,0,0
1,1192601,14,2,1999,11,female,6.0,0,0,0,0,0,0,0,0
2,2083884,14,16,1999,11,male,13.0,0,0,0,0,0,0,0,0
3,1203168,14,25,1999,12,female,93.0,0,0,0,0,0,0,0,0
4,1733186,14,4,1999,12,male,82.0,0,0,0,0,0,0,0,0

In [41]:
facebook_data.describe()

,userid,age,dob_day,dob_year,dob_month,tenure,friend_count,friendships_initiated,likes,likes_received,mobile_likes,mobile_likes_received,www_likes,www_likes_received
count,9.900300e+04,99003.000000,99003.000000,99003.000000,99003.000000,99001.000000,99003.000000,99003.000000,99003.000000,99003.000000,99003.000000,99003.000000,99003.000000,99003.000000
mean,1.597045e+06,37.280224,14.530408,1975.719776,6.283365,537.887375,196.350787,107.452471,156.078785,142.689363,106.116300,84.120491,49.962425,58.568831
std,3.440592e+05,22.589748,9.015606,22.589748,3.529672,457.649874,387.304229,188.786951,572.280681,1387.919613,445.252985,839.889444,285.560152,601.416348
min,1.000008e+06,13.000000,1.000000,1900.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.298806e+06,20.000000,7.000000,1963.000000,3.000000,226.000000,31.000000,17.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.596148e+06,28.000000,14.000000,1985.000000,6.000000,412.000000,82.000000,46.000000,11.000000,8.000000,4.000000,4.000000,0.000000,2.000000
75%,1.895744e+06,50.000000,22.000000,1993.000000,9.000000,675.000000,206.000000,117.000000,81.000000,59.000000,46.000000,33.000000,7.000000,20.000000
max,2.193542e+06,113.000000,31.000000,2000.000000,12.000000,3139.000000,4923.000000,4144.000000,25111.000000,261197.000000,25111.000000,138561.000000,14865.000000,129953.000000

In [7]:
facebook_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99003 entries, 0 to 99002
Data columns (total 15 columns):
userid                   99003 non-null int64
age                      99003 non-null int64
dob_day                  99003 non-null int64
dob_year                 99003 non-null int64
dob_month                99003 non-null int64
gender                   98828 non-null object
tenure                   99001 non-null float64
friend_count             99003 non-null int64
friendships_initiated    99003 non-null int64
likes                    99003 non-null int64
likes_received           99003 non-null int64
mobile_likes             99003 non-null int64
mobile_likes_received    99003 non-null int64
www_likes                99003 non-null int64
www_likes_received       99003 non-null int64
dtypes: float64(1), int64(13), object(1)
memory usage: 11.3+ MB

In [19]:
facebook_data['dob'] = pd.to_datetime({'year':facebook_data.dob_year,'month':facebook_data.dob_month,'day':facebook_data.dob_day})
facebook_data

,userid,age,dob_day,dob_year,dob_month,gender,tenure,friend_count,friendships_initiated,likes,likes_received,mobile_likes,mobile_likes_received,www_likes,www_likes_received,dob
0,2094382,14,19,1999,11,male,266.0,0,0,0,0,0,0,0,0,1999-11-19
1,1192601,14,2,1999,11,female,6.0,0,0,0,0,0,0,0,0,1999-11-02
2,2083884,14,16,1999,11,male,13.0,0,0,0,0,0,0,0,0,1999-11-16
3,1203168,14,25,1999,12,female,93.0,0,0,0,0,0,0,0,0,1999-12-25
4,1733186,14,4,1999,12,male,82.0,0,0,0,0,0,0,0,0,1999-12-04
5,1524765,14,1,1999,12,male,15.0,0,0,0,0,0,0,0,0,1999-12-01
6,1136133,13,14,2000,1,male,12.0,0,0,0,0,0,0,0,0,2000-01-14
7,1680361,13,4,2000,1,female,0.0,0,0,0,0,0,0,0,0,2000-01-04
8,1365174,13,1,2000,1,male,81.0,0,0,0,0,0,0,0,0,2000-01-01
9,1712567,13,2,2000,2,male,171.0,0,0,0,0,0,0,0,0,2000-02-02
10,1612453,13,22,2000,2,male,98.0,0,0,0,0,0,0,0,0,2000-02-22
11,2104073,13,1,2000,2,male,55.0,0,0,0,0,0,0,0,0,2000-02-01
12,1918584,13,5,2000,3,male,106.0,0,0,0,0,0,0,0,0,2000-03-05
13,1704433,13,21,2000,3,male,61.0,0,0,0,0,0,0,0,0,2000-03-21
14,1932519,13,28,2000,3,female,0.0,0,0,0,0,0,0,0,0,2000-03-28
15,1751722,13,7,2000,4,female,16.0,0,0,0,0,0,0,0,0,2000-04-07
16,1470850,13,30,2000,5,female,34.0,0,0,0,0,0,0,0,0,2000-05-30
17,1001768,13,23,2000,5,female,25.0,0,0,0,0,0,0,0,0,2000-05-23
18,1537661,13,16,2000,5,female,4.0,0,0,0,0,0,0,0,0,2000-05-16
19,1020296,13,13,2000,8,male,9.0,0,0,0,0,0,0,0,0,2000-08-13
20,1472643,13,13,2000,9,female,9.0,0,0,0,0,0,0,0,0,2000-09-13
21,2041297,13,22,2000,9,female,10.0,0,0,0,0,0,0,0,0,2000-09-22
22,1514978,13,2,2000,9,male,0.0,0,0,0,0,0,0,0,0,2000-09-02
23,1708962,15,17,1998,11,male,98.0,0,0,0,0,0,0,0,0,1998-11-17
24,1098955,15,3,1998,11,male,100.0,0,0,0,0,0,0,0,0,1998-11-03
25,1001243,15,11,1998,11,male,28.0,0,0,0,0,0,0,0,0,1998-11-11
26,2113084,15,24,1998,11,male,52.0,0,0,0,0,0,0,0,0,1998-11-24
27,2163454,15,15,1998,11,male,0.0,0,0,0,0,0,0,0,0,1998-11-15
28,1670750,15,28,1998,12,male,24.0,0,0,0,0,0,0,0,0,1998-12-28
29,1041376,15,11,1998,12,male,41.0,0,0,0,0,0,0,0,0,1998-12-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98973,1836366,26,3,1987,8,female,1669.0,4240,857,4794,28778,1153,20770,3641,8008,1987-08-03
98974,1686646,43,1,1970,1,male,793.0,3797,1034,5926,12642,3975,8460,1951,4182,1970-01-01
98975,1749991,107,29,1906,12,male,328.0,3748,396,6203,19674,3667,17624,2536,2050,1906-12-29
98976,1963699,18,17,1995,10,female,445.0,1921,858,8719,584,8142,251,577,333,1995-10-17
98977,1390362,17,5,1996,8,female,716.0,3738,2060,4790,2475,4269,1716,521,759,1996-08-05
98978,1638976,18,15,1995,1,female,401.0,2281,1790,7176,3256,6993,2397,183,859,1995-01-15
98979,1991657,15,13,1998,5,female,594.0,4631,1947,12234,14095,12083,10056,151,4039,1998-05-13
98980,1184126,15,20,1998,9,female,636.0,2769,453,6135,5444,5515,4021,620,1423,1998-09-20
98981,1277820,17,27,1996,11,female,1005.0,4351,2210,5045,4498,4742,3909,303,588,1996-11-27
98982,1364616,18,23,1995,12,female,508.0,3917,1872,3664,3058,3228,2349,436,709,1995-12-23
98983,1757787,18,26,1995,3,female,592.0,2426,585,8667,9534,7539,6731,1128,2803,1995-03-26
98984,1674381,18,25,1995,5,female,853.0,4417,1062,5765,6533,4215,5200,1550,1333,1995-05-25
98985,1299870,18,16,1995,8,male,894.0,3440,1138,3835,3833,3269,2221,566,1612,1995-08-16
98986,1043082,18,24,1995,10,female,356.0,1958,957,3981,5968,3215,2636,766,3332,1995-10-24
98987,1364887,20,29,1993,7,female,1089.0,2392,1408,5339,4964,4119,2366,1220,2598,1993-07-29
98988,1729341,21,20,1992,10,male,587.0,2784,809,5177,5423,4759,3278,418,2145,1992-10-20
98989,1008872,25,5,1988,9,female,273.0,2332,1849,6135,4952,6029,4547,106,405,1988-09-05
98990,1902600,58,11,1955,3,male,399.0,2083,553,6236,7784,4953,4795,1283,2989,1955-03-11
98991,1099760,15,29,1998,12,female,546.0,3712,482,6285,9515,5575,7780,710,1735,1998-12-29
98992,1422393,19,27,1994,11,female,456.0,3850,1311,4151,17117,3981,9370,170,7747,1994-11-27
98993,1654565,19,15,1994,8,male,394.0,4538,4144,4501,15088,4435,5961,66,9127,1994-08-15
98994,2063006,20,4,1993,1,female,402.0,1988,332,7351,106025,7248,73333,103,32692,1993-01-04
98995,1132164,20,9,1993,10,female,699.0,3611,973,4507,7768,4414,6909,93,859,1993-10-09
98996,1668695,24,25,1989,4,female,182.0,2938,1272,6018,17765,5843,11708,175,6057,1989-04-25
98997,1458985,28,14,1985,12,female,290.0,2218,1618,4626,10268,4290,4250,336,6018,1985-12-14
98998,1268299,68,4,1945,4,female,541.0,2118,341,3996,18089,3505,11887,491,6202,1945-04-04
98999,1256153,18,12,1995,3,female,21.0,1968,1720,4401,13412,4399,10592,2,2820,1995-03-12
99000,1195943,15,10,1998,5,female,111.0,2002,1524,11959,12554,11959,11462,0,1092,1998-05-10
99001,1468023,23,11,1990,4,female,416.0,2560,185,4506,6516,4506,5760,0,756,1990-04-11
99002,1397896,39,15,1974,5,female,397.0,2049,768,9410,12443,9410,9530,0,2913,1974-05-15

In [55]:
age_group_less20 = pd.DataFrame({'userid':facebook_data.query('age < 20')['userid']})
age_group_less20.index('20')

TypeError: 'Int64Index' object is not callable

userid                   20983
age                      20983
dob_day                  20983
dob_year                 20983
dob_month                20983
gender                   20979
tenure                   20983
friend_count             20983
friendships_initiated    20983
likes                    20983
likes_received           20983
mobile_likes             20983
mobile_likes_received    20983
www_likes                20983
www_likes_received       20983
dob                      20983
dtype: int64